/* Alterando a formatação do texto de todo o documento */
* {
 font-family: "Times New Roman", serif;
 font-size: 100%;
 color: black;
}

/* Alterando a formatação do Botão Do Menu */
.skin-blue .main-header .navbar .sidebar-toggle {
    color: black;
}


/* Alterando a formatação da barra da Sidebar */
.skin-blue .main-header .navbar {
 background-color: white;
}


/* Alterando a formatação da barra da Navbar Onde Fica o Logo*/
.skin-blue .main-header .logo {
 background-color: #222D32;
 font-weight: 800;   
}

/* Alterando a formatação dos Subitems */
.skin-blue .sidebar-menu>li>.treeview-menu {
 background: none;
}

/* Alterando a formatação dos Conteúdos */
.content-wrapper {
 background-color: white;
}

/* Alterando a formatação Das Linhas Horizontais */
hr {
 margin-top: 20px;
 margin-bottom: 20px;
 border: 0;
 border-top: 5px solid green;
 border-radius: 200px;
}

/* Alterando a formatação dos WellPanel */
.well {
 background-color: #39B54A;
 border: none;
 padding:2px;
 border-radius: 5%;
 margin: 1% 10% 1% 10%;
 width: 80%;
}

/* Alterando a formatação spans */
span {
 color: white;
 line-height: 5;
 font-size: large;
}

/* Alterando a formatação do texto dos h1 */
h1 {
 font-size:xx-large;
 text-align: center;
 font-weight: 600;
 line-height: 1.5;
}

/* Alterando a formatação do texto dos h2 */
h2 {
 text-align: center;
 line-height: 1.5;
}

/* Alterando a formatação dos parágrafos */
p {
 text-align: justify;
 font-size: 17px;
}

/* Alterando a formatação dos parágrafos Que Precisam Estar Centralizados*/
.P_Center p {
 text-align: center;
 font-size: 20px;
 line-height: 2;
}

/* Alterando a formatação dos parágrafos Que Precisam Estar Com Determinada Margem*/
.Para_Mar p {
 margin: 10% 0% 0% 0%;
 text-align: center;
 font-size: 20px;
 line-height: 2;
}

/* Alterando a formatação dos parágrafos Que Precisam Estar Com Determinado Tamanho*/
.Para_Maior p {
 font-size: 20px;
 line-height: 2;
 margin: 3% 0% 0% 0%;
}

/* Alterando a Formatação Dos Parágrafos Dentro de Caixas Centralizadas */
.Caixa_Centralizada p {
 text-align: center;
 font-size: 15px;
}

/* Alterando a Formatação Das Caixas Sólidas */
.Box_Solid {
 margin: 3% 0% 0% 0%;
 border: 1px solid;
 display: flow-root;
}

/* Alterando a Formatação Do Cabeçalho Das Caixas Sólidas */
.Box_Header h1{
 color: white;
 background-color: green;
 margin: 0 0 1% 0;
 text-align: left;
 font-size: initial;
 padding: 0 0 0 1%;
}

/* Alterando a formatação Dos Captions */
caption {
 color: black;
 text-align: center;
 font-size: large;
 font-weight: 600;
}

/* Alterando a formatação Das Imagens */
img {
 padding: 1% 0 1% 0;
 width: 100%;
}

/* Alterando a formatação Das Imagens Especiais */
.col-sm-6 img {
 padding: 1% 0 1% 0;
 width: 100%;
 margin: 10% 0% 5% 0%;
}

/* Alterando a formatação Das Tabelas */
.table {
 margin: 0% 5% 2% 5%;
 background-color: white;
}

/* Alterando a formatação Das Tabelas Dentro Dos Modal-Dialog */
.modal-body table {
 margin: 0% 0% 0% 0%;
 background-color: white;
}

/* Alterando a formatação Do Cabeçalho Da Caixa De Diálogo */
.modal-header {
 text-align: center;
 text-transform: uppercase;
 border-bottom: 2px solid black;
}

/* Alterando a formatação Do Conteúdo Da Caixa De Diálogo */
.modal-dialog {
 width:90%
}

/* Alterando a Formatação Do Cabeçalho Do Objeto Produzidos Pela Função Box Do Shiny */
.box.box-solid {
 border: 2px solid;
}

/* Alterando a Formatação Do Cabeçalho Especifico Do Objeto Produzidos Pela Função Box Do Shiny */
.box-header.with-border {
    border-bottom: 0;
}

/* Alterando a Formatação Do Cabeçalho Dos Objetos Produzidos Pela Função Box Do Shiny */
.box-header{
 text-align: center;
 border: 0;
}

/* Alterando a Formatação Do Corpo Dos Objetos Produzidos Pela Função Box Do Shiny */
.box-body{
 text-align: center;
}

/* Alterando a formatação Das Células E Colunas Das Tabelas */
.table td {
 border-bottom: 2px solid black;
 border-top: 0px;
}

/* Alterando a formatação Dos Cabeçalhos Das Tabelas */
.table>thead>tr>th {
 border-bottom: 2px solid black;
 border-top: 0px;
 background-color: black;
 color: white;
}

/* Alterando a Coloração Alternada Das Linhas das Tabelas */
tr:nth-child(odd) {
 background: lightgray;
}

/* Alterando a Formatação Do Botão Dentro Das Boxes De Infos */
.box.box-solid>.box-header .btn.btn-default {
 background: green;
}

/* Alterando a Formatação Dos Botões */
.btn-default {
 background-color: green;
 color: white;
 border-color: none;
 border-radius: 20px;
 border-radius: 20px;
}

/* Alterando a Formatação Do Footer */
.footer {
    margin-top: -1%;	
    text-align: center;
}

/* Alterando a formatação Das Imagens Dentro Do Footer*/
.logoContainerFooter img {
 width: 10%;
}